body{
    background-color: rgba(175, 213, 234, 0.685);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 20px;

}

.primerTitulo {
    border: 5px rgba(79, 148, 172, 0.609) solid;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

 h2{
    text-decoration: underline;
}
.comidaTortuga {
    height: 200px;
    width: 500px;
}

.curiosidadesTortugas ul li:hover{
    color:black;
    font-weight: bold;
}
.link1:visited, .link2:visited{
    color:blue;

}
.link1:hover, .link2:hover{
    color:brown;
}
.link1:active, .link2:active{
    color:bisque;
}

.mcturtle{
float: right;
margin-left: 20px;
width: 100px;
height: 100px;
}

.finalParte{
    text-align: center;
}

